.section {
  background-color: #f9f9f9;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem 0;
}

.img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.img1 {
  transition: all 2s;
}

.img1:hover {
  transform: translateY(-32%);
}

.img2 {
  transition: all 8s;
}

.img2:hover {
  transform: translateY(-78%);
}

@media screen and (min-width: 900px) {
  .content {
    padding: 8rem 0;
  }
}
