.navbar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  padding: 25px 45px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  font-weight: bolder;
  z-index: 10;
}

.main-link {
  font-size: 1.25rem;
}

.links {
  display: flex;
  gap: 1rem;
}

.link {
  font-size: 1.125rem;
  transition: all 0.2s;
}

.link:hover {
  color: #c362bd;
}
