.section {
  background-color: #f9f9f9;
}

.content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.presentation {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title {
  font-size: 3.5rem;
}

.text {
  font-size: 1.125rem;
  max-width: 35rem;
}

.links {
  display: flex;
  gap: 1rem;
}

.icon {
  width: 1.75rem;
  transition: all 0.2s;
}

.icon:hover {
  color: #c362bd;
}

.avatar {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.techs {
  display: flex;
  align-items: center;
  width: 100%;
}

.techs p {
  font-size: 1.25rem;
  font-weight: 500;
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
}

.list {
  display: flex;
  gap: 1rem;
}

.whitespace {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
}
