.section {
  background-color: #f9f9f9;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.presentation {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 6rem;
  text-align: center;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 0;
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title {
  font-size: 2.5rem;
}

.text {
  font-size: 1.125rem;
  max-width: 35rem;
}

.links {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.icon {
  width: 1.75rem;
  transition: all 0.2s;
}

.icon:hover {
  color: #c362bd;
}

.avatar {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.techs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.techs p {
  font-size: 1.25rem;
  font-weight: 500;
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
}

.list {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.whitespace {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
}

@media screen and (min-width: 600px) {
  .title {
    font-size: 3.5rem;
  }
}

@media screen and (min-width: 900px) {
  .content {
    height: 100vh;
    gap: 5rem;
  }
  .links {
    justify-content: flex-start;
  }
  .techs {
    display: flex;
    flex-direction: row;
  }
  .presentation {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    text-align: start;
    gap: 2rem;
  }
}
